
.logotext {
	color:#2E8B57;
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	text-align: center;
}

.slider {
	font-style:italic;
}

.appliance {
	background-color: #dddddd;
    border-radius: 5px;
    width: 500px;
    margin: auto;

}

.italic {
	text-align: center;
	font-style:italic;
	padding: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #565554;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #F24236;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}